- unless member.items.empty?
  %article
    - @item = member.items.last
    %section.position
      %p
        = member.position
    %section.name{:class => member.pclass}
      %p
        = member.name
    %section.item
      %p
        %a{ :href => @item.link } #{@item.name}
    %section.boss
      %p
        = @item.boss
    %section.date
      %p
        = @item.date.strftime('%b %d, %Y - %l:%M %p')
-else
  %article
    %section.position
      %p
        = member.position
    %section.name{:class => member.pclass}
      %p
        = member.name
    %section.noloot
      %p  
        has not yet received any loot.
    

