- unless member.items.empty?
  %article
    - @item = member.items.last
    %section.position
      = member.position
    %section.name{:class => member.pclass}
      = member.name
    %section.item
      %a{ :href => @item.link } #{@item.name}
    %section.boss
      = @item.boss
    %section.date
      = @item.date.strftime('%b %d, %Y - %l:%M %p')
-else
  %article
    %section.position
      = member.position
    %section.name{:class => member.pclass}
      = member.name
    %section.noloot
      has not yet received any loot.
    
%br
