- unless member.items.empty?
  %article
    - @item = member.items.last
    - unless User.all.empty?
      - if signed_in?
        .arrows
          .ab{:path => move_up_list_path(member), :method => 'move_up_list'}
            .point.up
            .back.up
          .ab{:path => move_down_list_path(member), :method => 'move_down_list'}
            .back.down
            .point.down
    %section.position
      %p
        = member.position
    %section.name{:class => "warrior"}
      %p
        = member.name
    %section.item
      %p
        %a{ :href => @item.link } #{@item.name}
    %section.boss
      %p
        = @item.boss
    %section.date
      %p
        = @item.date.strftime('%b %d, %Y - %l:%M %p')
-else
  %article
    - if signed_in?
      .arrows
        .ab{:path => move_up_list_path(member), :method => 'move_up_list'}
          .point.up
          .back.up
        .ab{:path => move_down_list_path(member), :method => 'move_down_list'}
          .back.down
          .point.down
    %section.position
      %p
        = member.position
    %section.name{:class => "warrior"}
      %p
        = member.name
    %section.noloot
      %p  
        has not yet received any loot.