%article
  %section.name{:class => item.member.pclass}
    = item.member.name
  %section.item
    %a{ :href => item.link } #{item.name}
  %section.spec
    - if item.spec
      Off Spec
    - else
      Main Spec
  %section.boss
    = item.boss
  %section.date
    = item.date.strftime('%b %d, %Y - %l:%M %p')
  - if current_user
    %section.date
      = link_to "Edit", edit_item_path(item)
      = '/'
      = link_to "Delete", item_path(item), :method => :delete, :confirm => "Are you sure you want to delete this entry?"