= form_for(@member) do |f|
  = f.error_messages
  %fieldset
    %legend
      Information
    %p
      = f.label :name
      %br
      = f.text_field :name
    %p
      = f.label :pclass
      %br
      = f.select :pclass, Member::PCLASSES, :prompt => "Select a class"
  %p
    = f.submit
    or
    %a.cancel_link{ :href => root_path } Cancel