.date
  = "Viewing #{@member.name}'s loot history:  "

.container

    
.center
  = link_to "#{@member.name}'s armory profile", "http://us.battle.net/wow/en/character/arthas/#{@member.name.downcase}/simple"
  %br
  = link_to "Back", members_path